.box {
	width: 30px;
	height: 30px;
	margin: 10px;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(239, 225, 227);
	font-size: 0.8rem;
	font-weight: 600;

	&:hover {
		transition: 0.3s;
	}
}
